@media screen and (min-width: 480px) {
  .container {
    max-width: 425px;
  }
  .container-mini{
   max-width:294px;
}
  .hero .container {
    max-width: 100%;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tablet-bg.jpg);
    padding: 110px 137px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-tablet-bg-2x.jpg);
    }
  }
 
 
}
