@media screen and (min-width: 768px) {
  .container {
    max-width: 765px;
  }
  .container-mini {
    max-width: 582px;
  }
  .customers-container {
    max-width: 552px;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }

  .main-nav {
    display: flex;
  }

  .header-list {
    display: flex;
  }
  .header-item:not(:last-child) {
    margin-right: 40px;
  }
  .nav-link {
    font-weight: 500;
    line-height: 1.5;
    color: var(--dark-color);

    transition: color var(--main-transition);
  }
  .nav-link:hover,
  .nav-link:focus {
    font-weight: 500;
    color: var(--pressed-state-color);
  }
  .header-contacts {
    display: block;
  }

  .contacts-link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--text-color);

    transition: color var(--main-transition);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--pressed-state-color);
  }
  .active {
    position: relative;
    color: var(--pressed-state-color);
  }
  .active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg.jpg);
    padding: 110px 137px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-bg-2x.jpg);
    }
  }
  .hero-title {
    max-width: 494px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 40px;
  }
  .modal {
    width: 408px;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .team-item {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }

  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
